
<ion-header>

  <ion-navbar>
    <ion-title>about</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="tittle">
    <h1> Resep Kue Basah & Kue Kering </h1>
    <p>mega.suryaningsih95@gmail.com</p>
    <p>+62 877 3628 2488</p>
  </div>
  <hr style="height: 1vh;"/>
  <hr />
  <div id="isi"> 
    <button ion-button icon-only clear (click)="fb()"><ion-icon name="logo-facebook"></ion-icon></button>
    <div style="width: 40%"></div>
    <button ion-button icon-only clear (click)="wa()"><ion-icon name="logo-whatsapp"></ion-icon></button>
  </div>
  <hr />
  <hr style="height: 1vh;"/>
  <div id="bawah">
    <h4>Bantu share aplikasi ini yukk</h4>
    <img src="assets/icon/icon.png" (click)="share()" />
    <p> Versi 0.0.1 / 01.09.2018 </p>
  </div>

</ion-content>
