page-about {
    #tittle{
        text-align: center;
        margin: 2vh 0 5vh 0;
        font-weight: bold;
    }

    hr{
        height: 0.5vh;
        background-color: #E91E63!important;
    }

    #isi{
        margin: 5vh 0 5vh 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .button[icon-only]{
            height: 7vh;
            width: 7vh;
            border-radius: 7px;
        }

        [icon-only] ion-icon{
            font-size: 10vh;
        }

    }

    #bawah{
        margin-top: 15vh;
        width: 100%;
        text-align: center;
        color: #E91E63;
        font-weight: bold;

        
    }
}
