page-login {
    .splash-bg {
        position: relative;
        background: url('../assets/img/splashbg.png') no-repeat transparent;
        background-size: cover;
        height: 80%;
        z-index: 1;
        background-repeat: repeat-x;
        animation: animatedBackground 40s linear infinite;
      }
    
      @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
      }
    
      .splash-info {
        position: relative;
        z-index: 2;
        margin-top: -64px;
        text-align: center;
      }
      .splash-logo {
        margin: auto;
        background: url('../assets/icon/welcome.png') repeat transparent;
        background-size: 100%;
        width: 128px;
        height: 128px;
      }
      .splash-intro {
        font-size: 18px;
        font-weight: bold;
        max-width: 80%;
        margin: auto;
      }
      
      button.facebook {
        margin-top: 5px;
        background-color: #488aff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        color: #fff;
        
        &.activated {
          background-color: rgb(220, 220, 220);
        }
      }
      [icon-left] ion-icon, [icon-start] ion-icon {
        padding-right: 15px;
        font-size: 18pt;
      }
      
      
}
