<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo" (click)="goHome()"></div>
    <div class="splash-intro">
     
    </div>
  </div>
  <div padding>
    <button ion-button item-end full icon-start (click)="loginFacebook()" class="facebook"><ion-icon name='logo-facebook'></ion-icon>Login With Facebook</button>
  </div>
</ion-content>
