<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Kategori Kue" tabIcon="ios-paper"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Favorite" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="About" tabIcon="paw"></ion-tab>
</ion-tabs>
