<ion-header>

  <ion-navbar>
    <ion-title>{{resep.nama_kue}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <img src="http://{{domain}}/assets/img/foto_resep/{{resep.foto_kue}}"/>
    <ion-buttons>
        <button class="fav" ion-button icon-only (click)="simpan()">
          <ion-icon *ngIf="statusFav == false" name="heart-outline"></ion-icon>
          <ion-icon *ngIf="statusFav == true" name="heart"></ion-icon>
        </button>
    </ion-buttons>
    <ion-card>
        <ion-card-content>
          <ion-card-title>
            Diskripsi
            </ion-card-title>
          <p>
            {{resep.diskripsi}}
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
            <ion-card-title>
              Bahan Bahan Kue
              </ion-card-title>
              <div [innerHTML]=resep.bahan_kue></div>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              Langkah Pembuatan Kue
              </ion-card-title>
              <div [innerHTML]=resep.langkah_pembuatan></div>
          </ion-card-content>
        </ion-card>
        <ion-fab right bottom>
          <button ion-fab color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button>
          <ion-fab-list side="left">
            <button ion-fab (click)="shareFb()"><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab (click)="shareWa()"><ion-icon name="logo-whatsapp"></ion-icon></button>            
          </ion-fab-list>
        </ion-fab>
</ion-content>
