page-detail-kue {
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color:#FFF!important;
    }

    .fav{
        border-radius: 100%;
        position: absolute;
        margin: -4.5vh 1vh 0 0;
        right: 0;
        height: 7vh;
        width: 7vh;     
    }
    [icon-only] ion-icon {
        padding: 0.7vh 0 0 0;
        font-size: 5vh;       
    }
}
