

<ion-content>
    <ion-card *ngFor="let r of resep" (click)="detailKue(r)">
        <img src="http://{{domain}}/assets/img/foto_resep/{{r.foto_kue}}"/>
        <ion-card-content>
          <ion-card-title>
            {{r.nama_kue}}
            </ion-card-title>
          <p>
            {{r.diskripsi}}
          </p>
        </ion-card-content>
      </ion-card>
      <ion-fab right bottom>
        <button ion-fab color="primary"><ion-icon name="search"></ion-icon></button>
        <ion-fab-list side="left">
            <ion-searchbar [(ngModel)]="searchData" (change)="search($event)"></ion-searchbar>
        </ion-fab-list>
      </ion-fab>
</ion-content>
