<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons left (click)="close()">
        <button ion-button icon-only>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
      <ion-item *ngFor="let item of kategori" (click)="detailKue(item)">
        <ion-thumbnail item-start>
          <img src="http://{{domain}}/assets/img/foto_resep/{{item.foto_kue}}">
        </ion-thumbnail>
        <h2>{{item.nama_kue}}</h2>
        <h4>{{item.diskripsi | slice:0:50}}...</h4>
        <p>Dilihat {{item.dilihat}}x</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" *ngIf="kategori.length > 0">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
