page-list-kategori {
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color:#FFF;
    }
    .item h2{
        font-size: 2.5vh;
        white-space: normal;
        font-weight: bold;
    }

    .item h4{
        white-space: normal;
    }

    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
        object-fit: cover;    
        width:15vh;   
        height:15vh;
    }
    .item {
        padding: 20px;
    }
    p{
        font-size: 2vh!important;
    }
    strong {
        font-weight: normal;
        color:#E91E63;
        font-size: 2.5vh!important;
    }
}
