page-kategori {

    .kategori{
        position: fixed;
        bottom: 9vh;
        left: 0.3vh;
        width: 100%;
        height: 15vh;

        [icon-left] ion-icon, [icon-start] ion-icon{
            font-size: 10vh;
        }
    }
    .button-small{
        font-size: 12pt;
    }
    [icon-left] ion-icon, [icon-start] ion-icon{
        font-size: 24pt;
    }
    .button-clear{
        padding-left: 20px;
    }
    .kategori .button{
        width: 48%;
        display: inline-block;
        height: 100%;
    }
    .scroll-content{
        margin-bottom: 24.5vh!important;
    }

    .splash-bg {
        position: relative;
        background: url('../assets/img/splashbg.png') no-repeat transparent;
        background-size: cover;
        height: 75vh;
        z-index: 1;
        background-repeat: repeat-x;
        animation: animatedBackground 40s linear infinite;
      }
    
      @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
      }
    
      .splash-info {
        position: relative;
        z-index: 2;
        margin-top: -64px;
        text-align: center;
      }
      .splash-logo {
        margin: auto;
        background: url('../assets/icon/welcome.png') repeat transparent;
        background-size: 100%;
        width: 128px;
        height: 128px;
      }
      .splash-intro {
        font-size: 18px;
        font-weight: bold;
        max-width: 80%;
        margin: auto;
      }

}
