
<ion-content>
  <div class="splash-bg"></div>
  <div class="splash-info"></div>    
    <div class="splash-intro">
     
    </div>
  
  <div class="kategori">
    <button ion-button icon-left (click)="kueBasah()">
      <ion-icon name="ios-water"></ion-icon>
      Kue Basah
    </button>
    <button ion-button icon-left (click)="kueKering()">
      <ion-icon name="ios-bowtie"></ion-icon>
      Kue Kering
    </button>
  </div>
</ion-content>
