<ion-header>

  <ion-navbar>
    <ion-title>favorit</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-card *ngFor="let r of resep" (click)="detailKue(r)">
        <img src="http://{{domain}}/assets/img/foto_resep/{{r.foto_kue}}"/>
        <ion-card-content>
          <ion-card-title>
            {{r.nama_kue}}
            </ion-card-title>
          <p>
            {{r.diskripsi}}
          </p>
        </ion-card-content>
      </ion-card>
</ion-content>
